{% extends "layout.html" %}

{% block title %}
  EzyMarket: Stationary
{% endblock %}

{% block main %}
  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="../static/images/stationary.avif" alt="CU" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Stationary</h1>
      <h1 class="w3-hide-large w3-hide-medium">Stationary</h1>
      <!-- <h1 class="w3-hide-small">COLLECTION 2016</h1> -->
      <p><a href="#content" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="content">
    <p>Stationary</p>
  </div>
  
  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    {% for item in stationary %}
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="{{ item.image_path }}" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <form action="/cart" method="post">
              <input type="hidden" name="form_id" value="{{ item.product_id }}">
              <button class="w3-button w3-black" type="submit">Add to cart <i class="fa fa-shopping-cart"></i></button>
            </form>
          </div>
        </div>
        <p>{{ item.name }}<br><b class="w3-text-red">{{ item.cost }}</b></p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}